
/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "saber,saber20";

	aliases {
		serial0 = &uarths0;
	};

    cpus: {
        #address-cells = <1>;
        #size-cells = <0>;

        cpu0: cpu@0 {
			device_type = "cpu";
			reg = <0>;
			compatible = "saber,saberCpu20", "riscv";
			riscv,isa = "rv32insu";
			mmu-type = "none";
		};
    
    memory: {
        #address-cells = <1>;
        #size-cells = <1>;

        bram: memory@00000000 {
            device_type = "memory";
            reg = <00000000 0x10000>,
                  <00010000 0x10000>,
                  <00020000 0x10000>,
                  <FFFF0000 0x10000>
            reg-names = "bram0, bram1, bram2, bram3";
        };

        sram: memory@20000000 {
            device_type = "memory";
            reg = <0x20000000 0x4000000>;
            reg-names = "sram0";
        };
    };

    soc {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "simple-bus";

        spi0: spi@10001000 {
            compatible = "saber,spi";
			reg = <0x10001000 0x10>;
        };

        scratch0: scratch@10002000 {
            compatible = "saber,scratch";
			reg = <0x10003000 0x20>;
        };

        tv0: tv@10003000 {
            compatible = "saber,tv";
			reg = <0x10003000 0x8>;
        };

        uart0: serial@10004000 {
			compatible = "saber,uart";
			reg = <0x10004000 0x1000>;
		};
        
    };

};
